node_modules
.pnpm-store
.corepack
.next
.git
.github
.vercel
.env
.env.local
.env.*.local
.env.production
npm-debug.log
yarn-error.log
pnpm-debug.log
*.log
coverage
Dockerfile
docker-compose.yaml
compose.yaml
README.md
BACKUP.md
.tmp
.claude
tests
vitest.config.ts
**/.DS_Store
**/Thumbs.db
.trunk
.prettierignore
.prettierrc.json
.eslintrc.json
mail
gloford-mail-dev
